
*{
    scroll-behavior: smooth;
}
body{
    background-color: #eee;
}
.App{
    position: relative;
}
.pageTop{
    position: fixed;
    right: 30px;
    bottom: -30px;
    cursor: pointer;
    pointer-events: visible;
    transition: all ease-in .5s;
    -webkit-transition: all ease-in .5s;
    -moz-transition: all ease-in .5s;
    -ms-transition: all ease-in .5s;
}
.pageTop.active{
    bottom: 30px;
}
.page-scrollTop{
    border-right: 5px solid; 
    border-top: 5px solid;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
}